* {
    font-family: 'inter';
}
body {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    border: solid 2px;
}
header {
    background-color: rgb(105, 59, 13);
    text-align: center;
    padding-top: 1px;
    height: 300px;
}
h1 {
    padding-top: 20px;
    color: white;
    font-size: 58px;
    font-weight: 800;
}
.imagemBemVindo {
    height: 250px;
    background-color: rgb(150, 105, 21);
    width: 300px;
    padding: 20px;
    border-radius: 20px;
}
#imagemCardapio {
    text-align: right;
}
#gestaointeligente {
    color: white;
    font-size: 34px;
    margin-top: -25px;
    font-weight: 800;
    margin-bottom: 40px;
}
#secaoCafes {
    background-color: rgb(206, 193, 184);
}
#coffee {
    color: rgb(182, 86, 3);
}
#sobreNos {
    text-align: center;
    font-size: 30px;
}
.descricaoCafe {
    font-size: 20px;
    color: black;
}
.preco {
    font-size: 21px;
    color: black;
    font-weight: 1000;
}
nav {
    margin-top: 65px;
    padding-top: 10px;
    background-color: rgb(75, 34, 13);
    padding: 15px;
    height: 30px;
    text-align: center;
}
.link {
    padding-right: 50px;
    font-size: 20px;
}
#bemvindo {
    color: rgb(182, 86, 3);
    margin-top: 0;
    font-size: 34px;
}
#quemSomos {
    color: rgb(151, 80, 22);
    font-size: 16px;
    font-weight: 1000;
}
#contato {
    color: rgb(151, 80, 22);
    font-size: 22px;
    font-weight: 1000;
    text-align: left;
}
#nossosProdutos {
    color: rgb(151, 80, 22);
    font-size: 16px;
    font-weight: 1000;
    text-align: center;
}
#secaoAmbiente {
    background-color: #311400;
}

#secaoAmbiente h2 {
    color: white;
}
#textoAmbiente {
    color: white;
    font-size: 16px;
}
#nossoAmbiente {
    color: rgb(206, 93, 0);
    font-size: 16px;
    font-weight: 1000;
}
#nossosCafes {
    text-align: center;
    margin-top: -10px;
}
.cafe {
    padding: 50px;
    width: 500px;
}
#tiposCafe {
    display: flex;
    justify-content: space-around;
}
.cafe3 {
    text-align: right;
    width: 400px
}
.nomeCafe {
    font-size: 24px;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: 500;
    border-radius: 6px;
    padding: 6px;
    margin: -4px;
}
section {
    padding: 50px;
}

h3 {
    margin-top: 0;
    font-size: 38px;
    font-weight: 9  00;
}
article {
    background-color: #a8875cb0;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
}
button {
    height: 70px;
    width: 250px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 40px;
    background-color: rgb(182, 86, 3);
    color: white;
    border: 0;
}
p {
    color: #75451B;
    font-weight: 400;
    font-size: 30px;
}
#sobreNos {
    text-align: right;
    font-size: 36px;
}
#secaoBemVindo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(206, 193, 184);
}
.texto {
    color: black;
    font-weight: 500;
    font-size: 24px;
}

#smartRodape {
    text-align: left;
    color: white;
    font-size: 34px;
    padding-top: 20px;
    margin-bottom: -30px;
}
#contatoRodape {
    background-color: brown;
    text-align: right;
    color: white;
    font-size: 22px;
    margin-top: 30px;
    margin-right: 100px;
}
#inputs {
    text-align: right;
    background-color: white;
}
#enviarMensagem {
    border-radius: 4px;
    width: 325px;
    height: 60px;
    margin: 8px;
}
.input{
    height: 30px;
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    width: 300px;
    border-width: 1px;
}
#mensagem {
    height: 90px;
    width: 300px;
    border-radius: 4px;
    border-width: 1px;
    border-color: black;
}
#contatoEsquerda {
    height: 200px;
    background-color: white;
    width: 400px;
}
#secaoContato {
    display: flex;
}
footer {
    line-height: 0px;
    padding: 1px;
    padding-left: 60px;
    padding-top: 10px; 
    background-color: #371B11;
    padding-bottom: 4px;
    height: 100px;
}